{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="pt-2 pb-5">
    <div class="container">

        <div class="row mt-0 mt-md-4 f-16">

            <div class="col-lg-3 col-md-4 col-12">
               {% include 'customer_sidebar.html' %}
            </div>

            <div class="col-lg-9 col-md-8 col-12">
                <div class="card mb-4 bg-light">
                    <div class="card-header bg-light">
                        <h3 class="mb-0">Change Password</h3>
                    </div>

                    <div class="card-body">
                        <form method="post" style="max-width:400px;">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group">
                                <button class="btn btn-light-danger f-16 text-dark-danger" type="submit">Change password</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}