{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="pt-2 pb-5">
    <div class="container">

        <div class="row mt-0 mt-md-4 f-16">

            <div class="col-lg-3 col-md-4 col-12">
               {% include 'customer_sidebar.html' %}
            </div>

            <div class="col-lg-9 col-md-8 col-12">

                {% include 'message.html' %}

                <div class="card mb-4 bg-light">
                    <div class="card-header bg-light">
                        <h3 class="mb-0">Account information</h3>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item px-0 pt-0 pb-4 border-0 bg-light">
                                <div class="row px-0">
                                    <div class="col-md-3 col-6">
                                        <span class="h4">Mobile Number</span>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <span class="d-block">{{user.phone}}</span>
                                    </div>
                                    {% comment %} <div class="col-auto">
                                        <a href="#!" >Edit phone</a>
                                    </div> {% endcomment %}
                                </div>
                            </li>

                            <li class="list-group-item px-0 pt-0 border-0 bg-light">
                                <div class="row px-0">
                                    <div class="col-md-3 col-6">
                                        <span class="h4">Password</span>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <span class="d-block">●●●●●●●●</span>
                                    </div>
                                    <div class="col-auto">
                                        <a href="{% url 'change_password' %}">Change password</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="card bg-light">
                    <div class="card-header bg-light">
                        <h3 class="mb-0">Personal information</h3>
                    </div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item px-0 pt-0 border-0 bg-light">
                                <div class="row px-0">
                                    <div class="col-md-3 col-6">
                                        <span class="h4">First Name</span>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <span class="d-block">{{user.first_name}}</span>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item px-0 border-0 bg-light">
                                <div class="row px-0">
                                    <div class="col-md-3 col-6">
                                        <span class="h4">Last Name</span>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <span class="d-block">{{user.last_name}}</span>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item px-0 border-0 bg-light">
                                <div class="row px-0">
                                    <div class="col-md-3 col-6">
                                        <span class="h4">Email</span>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <span class="d-block">{{user.email}}</span>
                                    </div>
                                </div>
                            </li>

                            <div>
                                <a href="{% url 'user_update' %}" class="px-0"><i class="fe fe-edit-2"></i> Edit information</a>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}