{% extends "base.html" %}


{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<section class="section-conten padding-y" style="min-height:84vh">
  <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Set your Password</h4>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
              {{ form.new_password1|as_crispy_field }}
        </div>
        <div class="form-group">
              {{ form.new_password2|as_crispy_field }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Set new password </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
 
