{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="bg-light">

<div class="container d-flex flex-column min-vh-100">
    <div class="row align-items-center justify-content-center no-gutters pt-15">
        <div class="col-lg-5 col-md-8">
            <div class="card shadow card-body p-6 text-center">
                <div class="display-4 text-dark-primary bg-light-primary rounded-circle icon-xxl icon-shape mb-3 mx-auto">
                    <i class="fe fe-check"></i>
                </div>
                <h2 class="mb-1 font-weight-semi-bold">Hey {{user.first_name}},</h2>
                <h2 class="mb-1 font-weight-semi-bold">Thanks for your purchase.</h2>
                <!-- <p>Thanks for your purchase.</p> -->

                <div class="mt-3">
                    <a href="{% url 'customer_orders' %}" class="btn btn-light-primary text-dark-primary f-16 py-2 px-5">View your orders</a>
                </div>

            </div>
        </div>
    </div>
</div>


</div>
{% endblock %}

{% block footer %}{% endblock footer %}